<section class="about-us" id="about-us">
   <div class="container">
      <h2 class="about-us-title">About<span class="about-us-accent"> Us</span></h2>
      <div class="about-us-wrapper">
         <picture>
            <source media="(max-width: 767px)" srcset="
         ./img/about/about-3_mob@1x.jpg 1x,
         ./img/about/about-4_mob@2x.jpg 2x" />
            <source media="(min-width: 768px)" srcset="
         ./img/about/about-5_tab@1x.jpg 1x,
         ./img/about/about-6_tab@2x.jpg 2x" />
            <source media="(min-width: 1280px)" srcset="
         ./img/about/about-1_desk@1x.jpg 1x,
         ./img/about/about-2_desk@2x.jpg 2x" />
            <img class="about-us-pic" src="./img/about/about-1_desk@1x.jpg" alt="camera" loading="lazy"/>
         </picture>
         <div class="description">
            <p class="description-about-us">Our photography school is designed to teach you everything you need to know
               about
               this magical art.
               Regardless of your
               experience or skill level, we offer a wide range of courses to suit your needs and interests. Our
               teaching
               team consists
               of experienced photographers who have many years of experience in this field. They strive not only to
               share
               their
               knowledge, but also to inspire you to develop and express your unique creativity.</p>
            <p class="description-about-us">Our courses cover a wide range of topics, from the basics of photography and
               equipment use to professional
               image
               processing and creating impressive compositions. You will have the opportunity to learn the technical
               aspects of
               photography, discover your own style and develop your own visual language.</p>
         </div>
      </div>
   </div>
</section>