<!-- <section class="advertisement">
  <div class="container container-advertisement">
    <div class="title-advertisement">
      <h2 class="animation">
        Master <span class="color-line">your photography</span> skills with us!
      </h2>
      <h2 class="animation">
        Master <span class="color-line">your photography</span> skills with us!
      </h2>
    </div>
  </div>
</section> -->

<section class="advertisement">
  <div class="title-advertisement">
    <h2 class="animation">
      Master <span class="color-line">your photography</span> skills with us!
    </h2>
    <h2 class="animation">
      Master <span class="color-line">your photography</span> skills with us!
    </h2>
  </div>
</section>
