<section class="advertisement">
  <!-- <div class="container container-advertisement">
    <h1 class="title-advertisement">
      <span class="acsent-advertisement">Master</span> your photography
      <span class="acsent-advertisement">skills with us!</span>
    </h1>
    <h1 class="title-advertisement">
      <span class="acsent-advertisement">Master</span> your photography
      <span class="acsent-advertisement">skills with us!</span>
    </h1>
  </div> -->
  <div class="container container-advertisement">
    <h2 class="title-advertisement">
      <p class="animation">
        Master
        <span class="color-line">your photography</span>
        skills with us!
      </p>
      <p class="animation">
        Master
        <span class="color-line">your photography</span>
        skills with us!
      </p>
    </h2>
  </div>
</section>
