<div class="mobile-menu" data-menu>
  <button type="button" class="btn-close-menu" data-menu-close>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
    >
      <path
        d="M24 8L8 24"
        stroke="#121212"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M8 8L24 24"
        stroke="#121212"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
  <ul class="mob-menu-list">
    <li class="mob-menu-item">
      <a href="#about-us" class="mob-menu-link-about">About us</a>
    </li>
    <li class="mob-menu-item">
      <a href="#our-courses" class="mob-menu-link">Our courses</a>
    </li>
    <li class="mob-menu-item">
      <a href="#our-mentors" class="mob-menu-link">Our mentors</a>
    </li>
    <li class="mob-menu-item">
      <a href="#reviews" class="mob-menu-link">Reviews</a>
    </li>
    <li class="mob-menu-item">
      <a href="#contacts" class="mob-menu-link">Contacts</a>
    </li>
  </ul>

  <picture>
   <!-- Tablet screen -->

    <source
      media="(min-width: 768px)"
      srcset="./img/hero/hero-19_tab@1x.jpg,
              ./img/hero/hero-20_tab@2x.jpg"

      type="image/jpg"
    />
    <!-- Mobile screen -->

    <source
      media="(max-width: 767px)"
      srcset="./img/hero/hero-17_mob@1x.jpg,
              ./img/hero/hero-18_mob@2x.jpg"

      type="image/jpg"
    />
    <img
      class="mob-menu-image"
      src="./img/hero/hero-17_mob@1x.jpg"
      alt="photo-camera"
      width=""
      loading="lazy"
    />
  </picture>

</div>
