
<!-- <div class="mobile-menu" data-menu>
    <button type="button" class="btn-close-menu" data-menu-close>
      <svg width="32" height="32">
        <use href="../img/sprite.svg#icon-close-x"></use>
      </svg>
    </button>
    <ul class="mob-menu-list">
      <li>
        <a href="#About us" class="mob-menu-link-about">About us</a>
      </li>
      <li>
        <a href="#Our courses" class="mob-menu-link">Our courses</a>
      </li>
      <li>
        <a href="#Our mentors" class="mob-menu-link">Our mentors</a>
      </li>
      <li>
        <a href="#Reviews" class="mob-menu-link">Reviews</a>
      </li>
      <li>
        <a href="#Contacts" class="mob-menu-link">Contacts</a>
      </li>
    </ul>
  
    <img 
      srcset="../img/hero/hero-17_mob@1x.jpg" 
      src="../img/hero/hero-17_mob@1x.jpg" 
      alt="photo-camera"
      width="329"/>
  
  </div> -->