<header class="header">
  <div class="div-header container">
    <nav class="nav-header">
      <a class="logo" href="" aria-label="Switch to the company logo">
        <svg width="123" height="16">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-link" href="#about-us">About us</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#our-courses">Our courses</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#our-mentors">Our mentors</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link" href="#contacts">contacts</a>
        </li>
      </ul>

      <a
        class="mobile-sign-link"
        href="#sign-up"
        aria-label="Go to the feedback form"
      >
        <svg width="16" height="16">
          <use href="./img/sprite.svg#icon-icon-camera"></use>
        </svg>
      </a>

      <button
        id="al"
        aria-label="menu-open-button"
        type="button"
        class="menu-open-btn"
        data-menu-open
      >
        <svg width="32" height="22">
          <use href="./img/sprite.svg#icon-menu-nav"></use>
        </svg>
      </button>
    </nav>
    <a class="sign-link" href="#sign-up">Sign up</a>
  </div>
</header>
