<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Discover the magic of <span class="span-hero-text">photography</span> in
      our school
    </h1>
    <p class="hero-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>

    <img srcset="" src="" alt="" width="397" />

    <div class="hero-img">
      <ul class="hero-item">
        <li class="hero-list">
          <img srcset="" src="" alt="Rectangle" width="54" />
        </li>
        <li class="hero-list">
          <img srcset="" src="" alt="" width="54" />
        </li>
        <li class="hero-list">
          <img srcset="" src="" alt="" width="54" />
        </li>
      </ul>
      <p><a class="hero-linl-reviews" href="#reviews">Our happy students</a></p>
      <svg class="icon-arrow" width="20" height="20">
        <use href=""></use>
      </svg>
    </div>
    <div class="icon-text">
      <svg class="icon" width="20" height="20">
        <use href=""></use>
      </svg>
      <p class="hero-text">Reviews</p>
      <p class="hero-text">+1500</p>
    </div>
  </div>
</section>
