<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">
      Discover the magic of <span class="span-hero-text">photography</span> in
      our school
    </h1>
    <p class="hero-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>
    <div class="hero-img-text">
      <div class="hero-img">
        <ul class="hero-item">
          <li class="hero-list">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hero/hero-3_desk@1x.png 1x,
                  ./img/hero/hero-4_desk@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/hero-13_mob@1x.png 1x,
                  ./img/hero/hero-14_mob@2x.png 2x
                "
              />
              <img
                class="hero-avatar"
                src="./img/hero/hero-3_desk@1x.png"
                alt="Rectangle"
              />
            </picture>
          </li>
          <li class="hero-list">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hero/hero-1_desk@1x.png 1x,
                  ./img/hero/hero-2_desk@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/hero-15_mob@1x.png 1x,
                  ./img/hero/hero-16_mob@2x.png 2x
                "
              />
              <img
                class="hero-avatar"
                src="./img/hero/hero-1_desk@1x.png"
                alt="man's face"
              />
            </picture>
          </li>
          <li class="hero-list">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/hero/hero-5_desk@1x.png 1x,
                  ./img/hero/hero-6_desk@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/hero-21_mob@1x.png 1x,
                  ./img/hero/hero-22_mob@2x.png 2x
                "
              />
              <img
                class="hero-avatar"
                src="./img/hero/hero-5_desk@1x.png"
                alt="Rectangle"
              />
            </picture>
          </li>
        </ul>
        <div class="link-arrow">
          <a class="hero-linl-reviews" href="#reviews-section">
            <p class="our-happy">Our happy students</p></a
          >
          <svg class="icon-arrow" width="18" height="9">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </div>
      <div class="icon-text">
        <svg class="icon-hero-star" width="20" height="20">
          <use href="./img/sprite.svg#icon-star-hero"></use>
        </svg>
        <div class="hero-texst-rev">
          <ul class="item-star">
            <li class="list-star">
              <p class="hero-text-shadow">Reviews</p>
            </li>
            <li>
              <p class="hero-text">+1500</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/hero/hero-7_desk@1x.png 1x,
          ../img/hero/hero-8_desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/hero/hero-11_tab@1x.png 1x,
          ../img/hero/hero-12_tab@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/hero/hero-9_mob@1x.png  1x,
          ../img/hero/hero-10_mob@2x.png 2x
        "
      />
      <img
        class="img-man-camera"
        src="../img/hero/hero-7_desk@1x.png"
        alt="man with camera"
        loading="lazy"
      />
    </picture>
  </div>
</section>
