<section class="reviews container">
    <h2 class="reviews-header">Reviews</h2>
    <ul class="reviews-list">
        <li class="reviews-items reviews-item">
            <div class="reviews-users-container">
                <img class="users-images" src="../img/reviews/reviews-2_desk@1x.png" width="56px" height="56px" alt="photo Abraham Baker">
                    <div class="users-info-container">
                        <h3 class="users-name">Abraham Baker</h3>
                            <div class="stars-container">
                                <svg class="star-svg" width="16" height="15">
                                    <use href="./img/sprite.svg#icon-star-hero"></use>
                                </svg>
                                <svg class="star-svg" width="16" height="15">
                                    <use href="./img/sprite.svg#icon-star-hero"></use>
                                </svg>
                                <svg class="star-svg" width="16" height="15">
                                    <use href="./img/sprite.svg#icon-star-hero"></use>
                                </svg>
                                <svg class="star-svg" width="16" height="15">
                                    <use href="./img/sprite.svg#icon-star-hero"></use>
                                </svg>
                                <svg class="star-svg" width="16" height="15">
                                    <use href="./img/sprite.svg#icon-star-hero"></use>
                                </svg>
                            </div>
                        <span class="users-education">Student</span>
                    </div>
            </div>
            <p class="users-text">I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and
            experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and
            discover my own style.</p>
        </li>
    </ul>
    <ul class="reviews-list">
        <li class="reviews-items">
            <div class="reviews-users-container">
                <img class="users-images" src="../img/reviews/reviews-1_desk@1x.png" width="56px" height="56px" alt="photo Amanda Lowery">
                    <div class="users-info-container">
                        <h3 class="users-name">Abraham Baker</h3>
                            <svg class="star-svg" width="16" height="15">
                                <use href="./img/sprite.svg#icon-star-hero"></use>
                            </svg>
                            <svg class="star-svg" width="16" height="15">
                                <use href="./img/sprite.svg#icon-star-hero"></use>
                            </svg>
                            <svg class="star-svg" width="16" height="15">
                                <use href="./img/sprite.svg#icon-star-hero"></use>
                            </svg>
                            <svg class="star-svg" width="16" height="15">
                                <use href="./img/sprite.svg#icon-star-hero"></use>
                            </svg>
                            <svg class="star-svg" width="16" height="15">
                                <use href="./img/sprite.svg#icon-star-hero"></use>
                            </svg>
                        <span class="users-education">Student</span>
                    </div>
            </div>
            <p class="users-text">The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also
            inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand
            different styles of photography.</p>
        </li>
    </ul>
</section>
