<section class="section sign-up">
  <div class="container">
    <div class="sign-form-wrap">
      <h2 class="section-title sign-up">Sign<span>Up</span></h2>
      <p class="sign-up-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-up-form" name="form">
        <input
          type="text"
          name="username"
          class="form-input"
          placeholder="Enter your name"
        />
        <input
          type="email"
          name="email"
          class="form-input"
          placeholder="Enter your email"
        />
        <textarea
          name="user-comment"
          class="form-input textarea"
          placeholder="Message"
        ></textarea>
        <button class="form-btn" type="submit">Send</button>
        <p class="form-text">
          By clicking on &#x201C;Send&#x201D; button, you agree to our
          <a href="/" class="form-link">Privacy Policy</a>, and allow Promodo to
          use this information for marketing purposes.
        </p>
      </form>
    </div>
    <div class="sign-img-wrap">
      <img
        src="./img/sign/sign-1_desk@1x.jpg"
        srcset="
          ./img/sign/sign-1_desk@1x.jpg 1x,
          ./img/sign/sign-2_desk@2x.jpg 2x
        "
        alt="Camera lens"
        width="164"
        height="154"
        class="sign-img"
      />
      <img
        src="./img/sign/sign-3_desk@1x.jpg"
        srcset="
          ./img/sign/sign-3_desk@1x.jpg 1x,
          ./img/sign/sign-4_desk@2x.jpg 2x
        "
        alt="Camera Nikon"
        width="254"
        height="314"
        class="sign-img"
      />
    </div>
  </div>
</section>
