<section class="section sign-up" id="sign-up">
  <div class="container sign-up">
    <div class="sign-form-wrap">
      <h2 class="title-sign-up">Sign <span class="title-accent">Up</span></h2>
      <p class="sign-up-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-up-form" name="form">
        <input
          type="text"
          name="username"
          class="form-input"
          placeholder="Enter your name"
          pattern="(?=.*[a-z]).{2,}"
          title="The name must contain at least two Latin letters"
        />
        <input
          type="email"
          name="email"
          class="form-input"
          placeholder="Enter your email"
          pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
          title="Invalid email address"
        />
        <textarea
          name="user-comment"
          rows="6"
          class="form-input textarea"
          placeholder="Message"
        ></textarea>
        <button class="form-btn" type="submit">Send</button>
        <p class="form-text">
          By clicking on &#x201C;Send&#x201D; button, you agree to our
          <a href="/" class="form-link">Privacy Policy</a>, and allow Promodo to
          use this information for marketing purposes.
        </p>
      </form>
    </div>
    <div class="sign-img-wrap">
      <div class="lens-wrap">
        <img
          src="./img/sign/sign-1_desk@1x.png"
          srcset="
            ./img/sign/sign-1_desk@1x.png 1x,
            ./img/sign/sign-2_desk@2x.png 2x
          "
          alt="Camera lens"
          class="sign-img-lens"
        />
      </div>

      <div class="camera-wrap">
        <img
          src="./img/sign/sign-3_desk@1x.png"
          srcset="
            ./img/sign/sign-3_desk@1x.png 1x,
            ./img/sign/sign-4_desk@2x.png 2x
          "
          alt="Camera Nikon"
          width="240"
          height="296"
          class="sign-img-camera"
        />
      </div>
    </div>
  </div>
</section>
