.about-us {
  margin: 80px 0;
}
@media only screen and (min-width: 768px) {
  .about-us {
    margin: 100px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .about-us {
    margin: 150px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .container.about-us {
    display: flex;
    columns: row;
  }
}
.about-us-title {
  padding-left: 0;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .about-us-title {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.13em;
  }
}
.about-us-accent {
  color: #bea69e;
}
@media only screen and (min-width: 1280px) {
  .about-us-wrapper {
    display: flex;
  }
}
.about-us-pic {
  border-radius: 1000px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 375px;
}
@media only screen and (min-width: 768px) {
  .about-us-pic {
    max-width: 704px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-us-pic {
    min-width: 488px;
    flex-shrink: 0;
    width: 488px;
    margin-right: 40px;
  }
}

.description {
  display: flex;
}
@media only screen and (min-width: 1280px) {
  .description {
    display: flex;
    direction: row;
  }
}
@media only screen and (min-width: 1280px) {
  .about-us-wrapper {
    display: flex;
    gap: 20px;
  }
}
.about-us-list{}

@media only screen and (min-width: 768px) {
.about-us-list{
display: flex;
gap: 40px;
}
}

@media only screen and (min-width: 768px) {
  .about-us-description-list {
    display: flex;
    gap: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-us-description-list {
    display: flex; gap: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-us-description-list {
    gap: 20px;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

@media only screen and (min-width: 1280px) {
}

.description-about-us {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .description-about-us {
    font-size: 16px;
    line-height: 1.25; /* 125% */
  }
}

.description-about-us:first-child {
  padding-bottom: 20px;
}
