.title-advertisement {
  display: flex;
  animation-name: marquee-infinite;
  animation-duration: 8s;

  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 400%;
  padding-top: 24px;
  padding-bottom: 24px;
  white-space: nowrap;
}
.animation {
  color: #bea69e;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.color-line {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .advertisement {
    font-size: 40px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement {
    font-size: 59px;
    line-height: 1.08;
  }
}
