.advertisement {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container-advertisement {
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
  color: #bea69e;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.title-advertisement {
  display: flex;
}

.animation {
  flex-shrink: 0;
  margin: 0;
  padding: 20px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.color-line {
  color: #fff;
}

@keyframes marqueeLine {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-108%, 0);
  }
}

@media only screen and (min-width: 768px) {
  .container-advertisement {
    font-size: 40px;
    line-height: 1.25;
  }
  .animation {
    padding: 24px 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement {
    font-size: 59px;
    line-height: 1.08;
  }
}
