html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Bold.eot');
  src: url('../fonts/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff'),
    url('../fonts/DMSans-Bold.ttf') format('truetype'),
    url('../fonts/DMSans-Bold.svg#svgFontName') format('svg');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Medium.eot');
  src: url('../fonts/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DMSans-Medium.woff2') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff'),
    url('../fonts/DMSans-Medium.ttf') format('truetype'),
    url('../fonts/DMSans-Medium.svg#svgFontName') format('svg');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Regular.eot');
  src: url('../fonts/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff'),
    url('../fonts/DMSans-Regular.ttf') format('truetype'),
    url('../fonts/DMSans-Regular.svg#svgFontName') format('svg');
  font-weight: 400;
  font-display: swap;
}

body {
  background-color: #121212;
  color: #fff;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: currentColor;
  display: block;
}
img {
  display: block;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
