
/* mobile-menu for project 14 */
/* .btn-close-menu{
    display: block;
    margin-left: auto;
    width: 32px;
    height: 32px;
  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #BEA69E;
  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .is-hidden{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  
    color: #121212;
    font-family: DM Sans;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
  }
  .mob-menu-link-about{
    font-weight: 700;
  }
   */