.hero-section {
    background-image: url(../img/hero/hero-25_mob@1x.png);
    padding-bottom: 80px;
}
   

.hero-container {display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #1d1d1d;
    padding: 40px 20px 0;

}

.hero-title {
color: #FFF;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: DM Sans, sans-serif;
}

.span-hero-text {
    color: #bea69e;
      font-style: italic;
      font-weight: 400;
}

.hero-text {
color: #FFF;
  
  margin-bottom: 40px;

  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
line-height: 1.29;
  letter-spacing: -.02em;

}

.img-man-camera {
    margin: 0 auto }



.hero-img-text {display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px; }

.hero-img {display: flex;
flex-direction: column;
gap: 4px;}

.hero-item {
position: relative;
    display: flex;
    flex-direction: row;
    padding-right: 1px;
    list-style-type: none;
    margin: 0;
}
.hero-list:nth-child(2) {margin-left: -12px;
    z-index: 1;}
 .hero-list:nth-child(3) {
            margin-left: -12px;
            z-index: 0; }
.hero-list {
z-index: 2;
}
.hero-avatar {
background-color: #1d1d1d;
    border-radius: 100px;
}
.link-arrow {
    display: flex;
        
        align-items: center;
        gap: 4px;
    
}
.hero-linl-reviews {
    color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.12;
      
        letter-spacing: -0.035em;
}

.our-happy {
    width: 67px;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -.04em;
}

.icon-text {display: flex;
  flex-direction: row;

}
    
.hero-texst-rev {display: flex;
    flex-direction: column;
    gap: 4px; }




.hero-text-shadow {
    color: rgba(255, 255, 255, 0.50);
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.04em;
}

.icon-hero-star {
fill: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #bea69e;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    stroke-width: 1.5px;
    stroke: #121212;}

/* Tablet */

@media screen and (min-width: 768px) {
 .hero-section {
    background-image: url(../img/hero/hero-27_tab@1x.png);
  background-size: cover;
 }

    .hero-container {
        padding-top: 64px
        }
    
.hero-title {width: 517px;
    font-size: 60px;
   
            }

  .hero-text { 
  line-height: 1.25;}  
  
  .hero-img {
                flex-direction: row;
                gap: 12px;
  }
.hero-item {
    padding: 0;
}

.hero-avatar {width: 54px;
    height: 54px;}

.hero-list:nth-child(2) {
  margin-left: -14px;
}
.hero-list:nth-child(3) {
  margin-left: -12px;
    z-index: 0;
  }
  .link-arrow {
    flex-direction: column;
      align-items: flex-start;
  }



.icon-text {
  gap: 8px;
}
.hero-text-shadow {font-size: 16px;
line-height: 1.25; }

.icon-hero-star {
  width: 50px;
    height: 50px;
}
.hero-texst-rev {
  gap: 8px;
}

.our-happy {width: 82px;
  font-size: 16px;
  line-height: 1.25;}

}
@media screen and (min-width: 1280px) {
  .hero-section {
      background-image: url(../img/hero/hero-23_desk@1x.png);
padding: 49px 100px 89px;}

.hero-container {
  position: relative;
    padding: 80px 50px 0;

}

.hero-title {
width: 563px;
  font-size: 64px;
  font-weight: 500;
}



.hero-img-text {
  margin-bottom: 50px;
}

.hero-img {
  gap: 40px;
}


.img-man-camera {
  position: absolute;
  top: 25px;
    right: 100px;
}

.hero-list {
overflow: hidden;
transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)

}

.hero-list:hover,
.hero-list:focus {
  transform: scale(1.8);
}

@media (hover: none) {
  .hero-list:active {
    transform: scale(1.8);
  }
}

}