.mentors {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  .mentors {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .mentors {
    padding: 75px 0;
  }
}

.mentors-title {
  padding-left: 0;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
  .mentors-title {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.13em;
  }
}

.mentors-accent {
  color: #bea69e;
}

.mentors-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px 75px;
  margin: 0 auto;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .mentors-list {
    gap: 93px 100px;
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 1280px) {
  .mentors-list {
    gap: 100px;
    max-width: 100%;
  }
}

.mentors-item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mentors-item:hover,
.mentors-item:focus {
  transform: scale(1.1);
}

@media (hover: none) {
  .mentors-item:active {
    transform: scale(1.1);
  }
}

.mentors-img {
  border-radius: 200px;

  overflow: hidden;
}

.mentor-wrapper {
  text-align: center;
  padding-top: 16px;
}
.mentors-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
}

@media only screen and (min-width: 768px) {
  .mentors-subtitle {
    font-size: 28px;
    line-height: 1.14em;
  }
}

.mentors-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .mentors-text {
    font-size: 14px;
    line-height: 1.29em;
  }
}
